body{
    background-color: black;
    padding:0;
    margin:0;
    width:1078px;
    height:1918px;
    overflow:hidden;
    }


ul, li, h3, h2, h1, p{
    padding:0;
    margin:0;
    list-style:none;
    }

div.button1     {
        width:181px;
        height:90px;
        position:absolute;
        left: 54px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        }


div.button2     {
        width:151px;
        height:90px;
        position:absolute;
        left: 235px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        }


div.button3     {
        width:153px;
        height:90px;
        position:absolute;
        left: 386px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        transition:opacity .5s;
        -moz-transition:opacity .5s; /* Firefox 4 */
        -webkit-transition:opacity .5s; /* Safari and Chrome */
        }


div.button4     {
        width:152px;
        height:90px;
        position:absolute;
        left: 539px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        }


div.button5     {
        width:152px;
        height:90px;
        position:absolute;
        left: 691px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        }


div.button6     {
        width:183px;
        height:90px;
        position:absolute;
        left: 843px;
        top: 324px;
        z-index:1;
        background-color:none;
        text-align:center;
        vertical-align:middle;
        padding-top:0px;
        margin-top:-1px;
        }



a.buttonlinks   {
        font: 14px 'DroidSansRegular', Arial, sans-serif;
        color:white;
        letter-spacing:.12em;
        text-decoration:none;
        }


body	{
       	background-color:black;
        }

div.maincontainer {
        position:fixed;
		width:1078px;
		height:1918px;
		padding:0;
                margin:0;
                margin-left:0px;
                margin-top:0px;
                background-color:black;		
	    }

div.headercontainer   {
        width:1078px;
        height:413px;
        padding: 0;
        margin: 0;
        background-color:black;
        }

div.headertopmargin {
        width:1078px;
        height:53px;
        padding:0;
        margin:0;
        background-color:black;
        }

div.headermargin    {
        width: 53px;
        height: 360px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

#navigation, #content,.section{
		padding:0;
		margin:0;
		list-style:none;
		}

.navigation{
		float:left;
		width:972px;
		height:360px;
		background-color:black;
        margin-top:0px;
		}

div.lowercontainer  {
        width:1078px;
        height:1505px;
        padding:0;
        margin:0;
        background-color:black;
        }

div.lowermarginleft {
        width:53px;
        height:1452px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.lowermarginright {
        width:53px;
        height:1452px;
        padding:0;
        margin:0;
        background-color:black;
        float:right;
        }
            
div.lowerbottommargin   {
        width:1078px;
        height:53px;
        padding:0;
        margin:0;
        background-color:black;
        z-index:-1;
        float:right;           
        }


#content{
		overflow:hidden;
		width:972px;
		background-color:black;
		position:relative;
		height:1452px;
		float:left;
		}

	#content h2{
		color:#993333;
		margin:20px 0pt;
		}
	#content a{
		color:#777;
		font-weight:bolder;
		text-decoration:none;
		}

.section{
	width:2916px;
	position:relative;
	}

	.section .sub{
		position:relative;
		float:left;
		padding:0;
		width:972px;
		height:1452px;
		}
		.section .sub p{
			width:550px;
			margin:16px 0;
			font-size:85%;
			line-height:1.4em;
		}
		.section .next, .section .prev{
			font-size:18px;
			position:absolute;
			bottom:15px;
			letter-spacing:-2px;
		}
		.section .next{
			right:30px;
		}
		.section .prev{
			left:30px;
		}

div.singlerackarea1 {
        width:972px;
		height:90px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.halfrackarea1 {
        width:486px;
        height:90px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }
            
div.doublerackinfo1 {
        width:972px;
        height:180px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }
            
div.singlerackarea2 {
        width:972px;
        height:90px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.triplerackarea {
        width:972px;
        height:270px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.sixrackarea {
        width:972px;
        height:540px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }


div.singlerackextra {
        width:972px;
        height:102px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }
            
div.doublerackinfo2 {
        width:972px;
        height:180px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }
            
div.doublerackextra {
        width:972px;
        height:192px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.triplerackextra {
        width:972px;
        height:282px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.quadruplerackextra  {
        width:972px;
        height:372px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;

        }

div.fiverackextra  {
        width:972px;
        height:462px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;

        }

div.sixrackextra  {
        width:972px;
        height:552px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;

        }

div.ninerackextra {
        width:972px;
        height:822px;
        padding:0;
        margin:0;
        background-color:black;
        float:left;
        }

div.12extrapixels {
        width:972px;
        height:12px;
        padding:0;
        margin:0;
        background-color:black;
        
        }

